<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258669695709-7toh3g4891eebf8i0aatq2c1f83hfdli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258669695709-7toh3g4891eebf8i0aatq2c1f83hfdli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>258669695709-dnp4bdmnna7qn3ml5rcslmdvijrrb8au.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC529Ba65-uV6lF9eESh7VayScI3xCMs4g</string>
	<key>GCM_SENDER_ID</key>
	<string>258669695709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mcsi</string>
	<key>PROJECT_ID</key>
	<string>mcsi-72f88</string>
	<key>STORAGE_BUCKET</key>
	<string>mcsi-72f88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258669695709:ios:045bdbd53bc550e2544134</string>
</dict>
</plist>